@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.body{
    height: 100vh;
    display: flex;
    background-color: rgb(13, 13, 13);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.body-title{
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 48px;
}

.body-button{
    padding: 16px;
    background-color: green;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    transition: 0.3s ease-out;
}
.body-button:hover{
    transform: scale(1.1);
}
/* Estilos para o Jogo */

.game-board{
    width: 312px;
    height: 312px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 12px;
}
.cell{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 36px;
    font-weight: 600;
}
.reset{
    padding: 12px;
    background-color: rgb(210, 30, 30);
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    transition: 0.3s ease-out;
    margin-top: 9px;
}

.reset:hover{
    transform: scale(1.1);
}
